html {
  font-size: 62.5%;
  font-family: "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  padding: 3rem 4rem;
  width: 128rem;
  max-width: 128rem;
}

.header {
  display: flex;
  justify-content: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2.25rem;
}

.bg-texture {
  background: url("../images/texture/bg-texture.png"), radial-gradient(var(--color-gradient-start, hsl(25, 22%, 29%)), var(--color-gradient-end, hsl(330, 3%, 15%)));
}

.title {
  margin: 0;
  font-family: "Georgia", sans-serif;
  font-size: 4.4rem;
  font-weight: normal;
  line-height: 1.295;
  letter-spacing: 0.06em;
  color: var(--color-dark-l, hsl(0, 0%, 33%));
}

.subtitle {
  font-size: 3.5rem;
  line-height: 1.286;
}

.text {
  color: var(--color-dark-xl, hsl(0, 0%, 30%));
  font-size: 1.5rem;
  line-height: 1.6;
}

.logo {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.logo__title {
  color: var(--color-primary, hsl(25, 69%, 82%));
  font-size: 3.2rem;
  line-height: 1.094;
}
.logo__subtitle {
  padding-left: 0.4rem;
  color: var(--color-light-xl, hsl(0, 0%, 100%));
  font-size: 1.3rem;
  line-height: 1.154;
  letter-spacing: 0.1em;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.nav-list__link {
  color: var(--color-dark-s, hsl(0, 0%, 80%));
  font-size: 1.5rem;
  line-height: 1.6;
  text-decoration: none;
  display: block;
  padding: 1rem 1.75rem 1.4rem;
}
.nav-list__link:focus:active {
  color: var(--color-light-s, hsl(0, 0%, 98%));
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.button {
  padding: 1.5rem 4.5rem;
  background-color: var(--color-primary, hsl(25, 69%, 82%));
  color: var(--color-dark-3xl, hsl(0, 0%, 16%));
  border: none;
  outline: none;
  border-radius: 10rem;
  font-family: "Georgia", sans-serif;
  font-size: 1.7rem;
  line-height: 1.295;
  letter-spacing: 0.06em;
  transition: all 0.3s ease-in-out;
}
.button__outline {
  padding: 1.3rem 4.3rem;
  outline: 0.2rem solid var(--color-primary, hsl(25, 69%, 82%));
  background-color: transparent;
}
.button__outline:hover {
  outline: 0.2rem solid var(--color-primary-light, hsl(25, 93%, 88%));
}
.button__round {
  padding: 1rem 1.7rem 1.5rem 1.7rem;
}
.button:hover {
  cursor: pointer;
  background-color: var(--color-primary-light, hsl(25, 93%, 88%));
}

.start__container {
  margin: auto;
  padding-bottom: 0;
}
.start__columns {
  padding-top: 3rem;
}
.start__column {
  padding-top: 16.3rem;
  max-width: 46rem;
}
.start__title {
  max-width: 31rem;
  letter-spacing: normal;
  color: var(--color-light-xl, hsl(0, 0%, 100%));
}
.start__text {
  padding: 2.7rem 0;
  color: var(--color-dark-s, hsl(0, 0%, 80%));
}
.about__container {
  margin: auto;
  padding-left: 21.6rem;
  padding-right: 21.4rem;
  padding-bottom: 10rem;
}
.about__columns {
  padding-top: 5rem;
}
.about__column {
  padding-top: 1.5rem;
  max-width: 43rem;
}
.about__title {
  max-width: 37rem;
}
.about__text {
  padding-top: 0.9rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card {
  gap: 3rem;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
  background-color: var(--color-light-s, hsl(0, 0%, 98%));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__title {
  padding-bottom: 0.2rem;
  font-size: 2rem;
  line-height: 1.15;
}
.pets {
  background-color: var(--color-light-l, hsl(0, 0%, 96%));
}
.pets__container {
  padding-top: 8rem;
  padding-bottom: 10rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.pets__title {
  max-width: 40rem;
  text-align: center;
}
.pets__carousel {
  padding-bottom: 0.2rem;
}/*# sourceMappingURL=styles.css.map */